@import "normalize.css";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/fonts";
@import "./scss/StartPage/header.scss";
@import "./scss/StartPage/main.scss";
@import "./scss/StartPage/footer.scss";
@import "./scss/GamePage/gamePage.scss";
@import "./scss/ResultPage/resPage.scss";
@import "./scss/GalleryPage/gallery.scss";
@import "./scss/RulesPage/rulesPage.scss";

html, body {
  height: 100%;
  background: #222222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100%;

  &__wrap {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    min-height: 100%;
    padding: 10px 20px 5px 20px;
    display: flex;
    flex-direction: column;
  }
}


