$color-header: #00bc8c;
$color-block: #303030;
$color-border: #555;
$color-text-cat: #9ca8a6;
$color-background-hover-options: #3c3c3c;
$color-background-category: #007c5d;
$color-background-active-chapter: #43f1d6;